a{
    text-decoration: none;
    color: inherit;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-color: #F9F3F3;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    color:#000000;
}
.header{
    background-color: #DDDDDD;
    padding: 31px 0 31px;
    font-size: 16px;
    line-height: 26px;
    color:#000000;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container2{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between
}


.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display:flex;
}

.menu-item{
    padding-right: 35px;
}


.headline{
    background-color: #DDDDDD;
    padding: 138px 0 0px;
}

.title{
    margin:0 0 35px;
    color: #F25287;
    font-family:'Oswald';
    font-style:normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
}

.titletwo{
    margin: 0 0 42px;
    color:#000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
}

.headline-btn{
        background: #F25287;
        border-radius: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 190px;
        height: 71px;
        margin-bottom: 101px;
}

.open-popup{
    background: #F25287;
    border-radius: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 190px;
    height: 71px;
}

.popup__bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.50);
    opacity: 0;
    pointer-events: none;
    transition: 0.1s all;
}

.popup__bg.active { 
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #d8d4d4;
    width: 400px;
    padding: 25px;
}

.close-popup{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer; 
}

.popup label{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column-reverse;
}

.popup .label__text{
    font-style: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #76797a;
    margin-bottom: 5px;
}

.popup input{
    height: 45px;
    font-style: 18px;
    border: none;
    outline: none;
    border-bottom: 1px solid #76797a;
}

.popup input:focus{
    border-bottom: 1px solid #F25287;
}

.popup input:focus + .label__text {
    color: #F25287;
}


.popup button {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    border: 2px solid #ff298d;
    background: #F25287;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all;
}

.popup button:hover {
    background:#F7D9D9;
    color:#000000;
    transition: 0.5s all;
}

.headline-buttontwo{
    margin:17px 12px 18px 0;
}

.btm{
    margin-bottom: 29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: px;
    display: flex;
}

.btm2{
    margin: 0 0 0 21px;
    
}

.headline-text{ 
    margin: 14px 0 3px 0;
}

.headline-altshu{
    color: #F25287;
}

.headline-altshu:hover {
    color: #060af5;
}

.girl{
    margin: 90px 0 1px 0px; 
}


.about{
    max-width: 1200px;
    margin: 90px auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}

.review{
    margin-right: 222;
}

.fline{
    margin: 30px 0 84px 0;
    display: flex;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}

.line{
    margin-right: 13px;
}

.star{
    margin-bottom: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

.starimg{
    margin-bottom: 13px;
}

.as{
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.ava {
    margin-right: 19px;
}

.as_2{
display: flex;
flex-direction: column;
margin-top: 7px;
}
.avatext{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 6px;
}

.avatext_2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}

.skill {
    margin: 53px 0 0 222px;
}

.skilltext {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #1A162E;
    margin: 17px 24px 19px 11px;
}

.skillnum{
    font-family: 'Roboto';
    font-style: normal;
    margin: 0 47px 48px 60px;
}

.sn{
    display: flex;
    justify-content: space-between;
}

.num{
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
    color: #F25287;
}

.sn_3{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.skillend{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 31px;
    color: #000000;
    margin: 0 12px 13px 13px;
}

.se{
    display: flex;
    justify-content: space-between;
}

.se_2 {
    display: flex;
}

.ellipse{
    margin-right: 10px;
}

.exam{
    max-width: 1200px;
    margin: 90px auto;
}

.fline_2{
    margin: 30px 0 62px 0;
    display: flex;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}
.ex_all{
    display: flex;
    justify-content: space-between;
}

.extext{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #F25287;
    margin: 20px 0 19px 0;
}

.extext_2{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    margin: 0 0 46px 0;
}

.var{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ex_3{
    margin: 75px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center
}

.extext_3{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 43px;
    text-align: center;
    color: #000000;
    margin-bottom: 42px;
}

.ex_button{
    background: #F25287;
    border-radius: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 190px;
    height: 71px;
}

.ex_but:hover{
    background:#A9DEF9;
}

.ex_button:hover{
    background: #A9DEF9;
}

.exsp{
    width: 117px;
    height: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    margin: 0 8px 0 17px;
}

.exsp_2{
    margin-right: 12px;
}

.blog{ 
    max-width: 1200px;
    margin: 90px auto;
    display: flex;
    flex-direction: column
}

.blog_line{
    margin: 30px 0 62px 0;
    display: flex;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}

.noub_15{
    display: flex;
    margin-bottom: 75px;
}

.data {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin: 0 0 45px 42px;
}

.b_t{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 26px;
    margin: 0 0 30px 42px;
}

.b_t2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 56px 42px;
}

.butt_blog{
    background: #F25287;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 190px;
    height: 71px;
    margin-left:  272px;
}

.butt_blog:hover{
    background: #A9DEF9;
}

.noub_16{
    display: flex;
    margin-bottom: 125px;
}

.pink{
    background-color: #F7D9D9;  
    margin: 90px auto;  
}

.pinkblock{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-around;    
}

.pinkblock_1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pinktext{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 26px;
    color: #F25287;
    margin: 143px 0px 22px 0;

}

.pinktext_2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-bottom:32px;
}

.pinkarr{
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-bottom:85px;
}

.pinkblock_2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrpink{
    margin-left: 15px;
}



.footer{
    margin: 90px auto;  
    max-width: 1200px;
    padding: 0 15px;
    display: flex; 
    flex-direction: column;
}

.blog_line_2{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    margin-top: 32px;
}

.contact{
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.soc{
    margin-bottom: 30px;
}

.meiling_2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    margin: 0 0 20px 0;
}

.mail_1{
    background: #F7D9D9;
    opacity: 0.5;
    border-radius: 20px;
    width: 283px;
    height: 57px;
    margin-bottom: 22px;
}

.mail_2{   
    width: 283px;
    height: 57px;
    background: #F25287;
    border-radius: 20px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 26px;
    color: #FFFFFF;
}
